<nav class="navBar">
    <div class="navBar__div"[routerLink]="['/home-page']"
    routerLinkActive="router-link-active">
    <span class="fas fa-radiation navBar__div__span"><a class="anchor" >Home</a></span>
    </div>
    <div class="navBar__div" [routerLink]="['/products-page']" routerLinkActive="router-link-active">
    <span class="fas fa-binoculars  navBar__div__span"><a class="anchor">Products</a></span>
    </div>
    <div class="navBar__div" [routerLink]="['/gestion-page']" routerLinkActive="router-link-active">
    <span class="fab fa-battle-net navBar__div__span"><a class="anchor">Gestión</a></span>
    </div>
</nav>